{% extends 'main/base.html' %}



{% block title %}
    details
{% endblock title %}
    



{% block content %}
<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h2 class="text-dark">{{ brand.name }}</h2>
            <p><strong>Founded:</strong>{{ brand.founded_at }}</p>
            <p><strong>About:</strong>{{ brand.about }}</p>
        </div>
        <div class="col-md-4">
            <img src="{{ brand.logo.url }}" class="img-fluid rounded-start" alt="{{ brand.name }}">
        </div>
    </div>
    {% if request.user.is_superuser  %}
    <div class="d-flex gap-2 justify-content-start gap-4">
        <a href="{% url 'brands:brand_update_view' brand.id %}" class="btn btn-primary">Update</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ brand.id }}">Delete</button>
    </div>
    {% endif %}
    <div class="modal fade" id="deleteModal{{ brand.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ brand.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel{{ brand.id }}">Delete brand</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ brand.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'brands:delete_brand_view' brand.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="border-5  border-dark opacity-50 ">
    {% include 'cars/car_list.html' %}
</div>
{% endblock content %}
    