/* base.html */
:root{
    --primary-color:#686d76;
    --secondary-color: #dc5f00;
    --bakground-color: #383b40;
    --text-color : #ffffff;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Geist Mono", monospace;
    background-color: var(--bakground-color);
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header{
    background: linear-gradient(20deg, #686D76, #ff6347);
    box-shadow: 0 0 15px rgba(220, 95, 0, 0.2), 0 0 15px rgba(104, 109, 118, 0.2);
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    margin: 20px 20px ;
    width: 80%;
    
}
.header-container {
    margin: 0;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

nav ul li {

    margin: 0 15px;

}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondary-color);
}

.footer-container{
    margin-top: auto; 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid var(--secondary-color);
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 3px var(--secondary-color);
    position: relative;
}

.footer-section {
    margin: 0 20px;
}

.footer-section h3{
    font-size: 18px; 
    margin-bottom: 10px;
}
.footer-section ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
.footer-section ul li {
     margin: 5px 0; 
}
.footer-section ul li a {
     text-decoration: none; 
     color: var(--text-color);
     font-size: 16px;
     transition: color 0.3s; 
}
.footer-section ul li a:hover {
    color: var(--secondary-color);
}

/* home page */

.page-container{
     position: absolute;
     top: 20%;
     left: 5%;
}

.page-container h1{
    font-size: 8rem;
    font-weight: bold;
    opacity: 0;
    color: var(--text-color);
    animation: fadeIn 6s forwards;

}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.page-container p{
    color: var(--text-color);
    font-size: 2rem;
}

.page-container button{
    font-size: larger;
    color: var(--text-color);
    background-color: black;
    padding: 20px 20px;
    border-radius: 40px;
}

/* manage brands */
.brand-title{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}
.brand-form{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 20);
}
.brand-form input,.brand-form textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    box-sizing: border-box;
}
.form-group p {
    margin: 50px 10px;
    gap: 20px;
}

.btn-submit, .btn-back {
    font-size: 10px;
    color: var(--text-color);
    background-color: black;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
}
/* all brands page */
.all-brands{
    padding: 40px;
    border: none;
    border-radius: 0;
    cursor: pointer;

}
.all-brands h1 {
    color: var(--text-color);
}
.search-form {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
.search-button {
    background-color: transparent;
    color: var(--secondary-color);
    border: none;

}
.search-brands {
    width: 25%;
    padding: 10px 10px;
    border-radius: 20px;
}

.brand-card{
    background-color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    box-shadow: 0 11px 11px rgba(0, 0, 20, 70);
    position: relative;
}

.brand-logo{
    width: 370px;
    height: auto;
    margin-bottom: 10px;
}
.brand-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.more-button{
    font-size: 15px;
    color: var(--text-color);
    background-color: black;
    padding: 10px 10px;
    border-radius: 40px;
    max-width: 20%;
    align-self: flex-end;
}
