.wrapper {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    transition: all 0.3 ease-in-out !important;
}

.latest a {
    color: #000 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #007BFF !important;
}

/*** header ***/

/*** main ***/

/*** footer ***/
footer p {
    margin-bottom: 0;
    padding-bottom: 0;
}
