{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ car.car_name }}{%endblock %}

{% block content %}


<main class="car-details-page">
    <p class="car-brand">
        <a href="{% url 'brands:brand_details_view' car.brand.id %}" class="brand-link">
            {{ car.brand.brand_name }}
        </a>
    </p>
    <section class="car-image-section">
        <img src="{{ car.image.url }}" alt="Car Image" class="car-image-3">
        <p class="car-availability">{{car.availability}}</p>
        <h1 class="car-name">{{car.car_name}}</h1>
    </section>


    <section class="car-color-2">
        <div class="color-header">
            <h6>Available Colors:</h6>
            <ul id="color-tiles" class="tileColor">
                {% for color in car.available_colors.all %}
                <li class="tileColor_1">
                    <span class="color-circle-large" style="background-color: {{ color.hex_code|default:'#000000' }};"></span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    


    <section class="car-details-section">
        <div class="detail-box">
            <h2 class="detail-value">{{car.year}}<span></span></h2>
            <p class="detail-label">Model</p>
        </div>

        <div class="detail-box">
            <h2 class="detail-value">{{car.engine}}<span></span></h2>
            <p class="detail-label">Engine</p>
        </div>

        <div class="detail-box">
            <h2 class="detail-value">{{car.power}} <span>HP</span></h2>
            <p class="detail-label">Power</p>
        </div>

        <div class="detail-box">
            <h2 class="detail-value">{{car.speed}} <span>km/h</span></h2>
            <p class="detail-label">Top speed</p>
        </div>

        <div class="detail-box">
            <h2 class="detail-value">{{car.price}} <span>$</span></h2>
            <p class="detail-label">Price</p>
        </div>

    </section>

    <section class="action-links">
        <a href="{% url 'cars:car_update_view' car.id %}" class="update-button">Update</a>
        <a href="{% url 'cars:car_delete_view' car.id %}" class="delete-button" onclick="return confirm('Are you sure you want to delete this car?');">Delete</a>
    </section>
</main>


{% endblock %}