{% extends 'main/base.html' %}

{% block title %} Add Car {% endblock %}

{% block content %}

{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-11 col-lg-7">
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <h2>Update {{car.name}} </h2>
                </div>
                <form class="d-flex flex-column gap-4" action="{% url 'cars:car_update_view' car.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Car Name" class="form-control" value="{{car.name}}"/>
                    <input type="text" name="engine" placeholder="Car Engine Type" class="form-control" value="{{car.engine}}"/>

                    <select name="brand" class="form-select">
                        {% for brand in brands %}
                            <option value="{{ brand.id }}" {% if car.brand.name == brand.name %} selected {%endif%} >{{ brand.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <div>
                        <h4>Update Car Colors</h4>
                    
                        <div class="d-flex flex-row flex-wrap justify-content-between align-items-baseline gap-5 mt-3">
                            {% for color in colors %}
                            <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
                                <input type="checkbox" class="form-check-input me-2" name="colors" id="check-{{color.id}}" value="{{color.id}}" {% if color in car.colors.all %} checked {% endif %}/>
                                <label for="check-{{color.id}}">{{color.name}} - {{color.hex_value}}</label>
                                <div class="color_box" style="background-color: {{color.hex_value}};"></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                        
                    <select name="category" class="form-select">
                        <option value="" disabled selected>Select Car Category</option>
                        {% for value, label in categories %}
                            <option value="{{value}}" {% if value == car.category %} selected {% endif %} >{{label}} </option>
                        {% endfor %}
                    </select>

                    <select name="doors" class="form-select">
                        <option value="" disabled selected>Select How Many Doors</option>
                        {% for value, label in doors %}
                            <option value="{{value}}" {% if value == car.doors %} selected {% endif %}> {{label}} </option>
                        {% endfor %}
                    </select>

                    <div>
                        <h4 class="mb-2">Car Year Model</h4>
                        <input type="date" name="year" placeholder="Car Model" class="form-control" value="{{car.year.isoformat}}"/>
                    </div>

                    <div>
                        <h4 class="mb-2">Car Photo</h4>
                        <div class="row mt-2 mb-3">
                            <div class="col-5">
                                <img src="{{car.image.url}}" class="w-100" />
                            </div>
                        </div>
                        <input type="file" name="image" placeholder="Car Photo" class="form-control" accept="image/*"/>
                    </div>

                    <input type="submit" value="Submit" class="btn" style="background-color: #4335A7; color: #EDF4F2"/>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
