{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{car.brand.name}} - {{car.model}}{% endblock %}

{% block content %}
<section class="container-md">
    <div class="d-flex align-items-center">
        <img src="{{car.brand.logo.url}}" alt="Brand logo" class="rounded-2 car-logo">
        <h1 class="mt-3 ms-2">
            <a href="{% url 'brands:brandDetailsView' car.brand.id %}">{{car.brand.name}}</a> - {{car.model}} {{car.modelYear}}
        </h1>
    </div>
    
    <div class="half-border mb-2"></div>
    <div class="container-fluid">
        {% if user.is_staff %}
        <div class="d-flex gap-2 justify-content-end">
            <a href="{% url 'cars:updateCarView' car.id %}" class="btn border-2 shadow-sm {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} btn-outline-light {% else %} btn-outline-dark {% endif %}">
                Update
            </a>
            <!-- Button to trigger delete modal -->
            <button type="button" class="btn btn-outline-danger border-2 shadow-sm" data-bs-toggle="modal"
                data-bs-target="#deleteModal">
                Delete
            </button>
        </div>
        {% endif %}
        <!-- Car images carousel -->
        <div id="carDetailsCarousel" class="carousel slide my-3 rounded-3 shadow overflow-hidden carousel-fade details-carousel mx-auto" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for carImg in carImages %}
                <button type="button" data-bs-target="#carDetailsCarousel" data-bs-slide-to="{{forloop.counter0}}"
                    class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for carImg in carImages %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{carImg.image.url}}" class="d-block" alt="Car image">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carDetailsCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carDetailsCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
            <div class="col">
                <ul class="list-group list-group-flush shadow-sm rounded-2 my-2">
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/capacity.svg' %}" alt="engine">
                                <h5 class="ms-2">Capacity</h5>
                            </div>
                            <p class="m-0 ms-2">{{car.capacity}} Passengers</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/price.svg' %}" alt="engine">
                                <h5 class="ms-2">Price</h5>
                            </div>
                            <p class="m-0 ms-2">Starts at {{car.price}}.00 SAR</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/body.svg' %}" alt="engine">
                                <h5 class="ms-2">Body Type</h5>
                            </div>
                            <p class="m-0 ms-2">{{car.bodyType}}</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/colors.svg' %}" alt="engine">
                                <h5 class="ms-2">Available Colors</h5>
                            </div>
                            <div class="d-flex gap-2 ms-2">
                                {% for color in car.colors.all %}
                                <img src="{{color.image.url}}" alt="color image" class="color-img rounded-1 shadow-sm">
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush shadow-sm rounded-2 my-2">
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/engine.svg' %}" alt="engine">
                                <h5 class="ms-2">Engine</h5>
                            </div>
                            <p class="m-0 ms-2">{{car.engine}}</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/speed.svg' %}" alt="engine">
                                <h5 class="ms-2">Top speed</h5>
                            </div>
                            <p class="m-0 ms-2">{{car.topSpeed}}</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/gear.svg' %}" alt="engine">
                                <h5 class="ms-2">Gear</h5>
                            </div>
                            <p class="m-0 ms-2">{{car.gear}}</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start details">
                        <div class="ms-2 me-auto">
                            <div class="d-flex">
                                <img src="{% static 'images/icons/fuel.svg' %}" alt="engine">
                                <h5 class="ms-2">Fuel</h5>
                            </div>
                            <p class="m-0 ms-2">{{car.fuel}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Car</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete '<strong>{{car.brand.name}} - {{car.model}}</strong>'?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary shadow-sm"
                    data-bs-dismiss="modal">Close</button>
                <a href="{% url 'cars:deleteCarView' car.id %}" class="btn btn-danger shadow-sm">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Related cars -->
<section class="container my-3">
    <p class="fs-3 fw-medium mt-3">
        More Cars from <a href="{% url 'brands:brandDetailsView' car.brand.id %}" class="hover-underline">{{car.brand.name}}:</a>
    </p>
    {% with relatedCars as cars %}        
        {% include 'cars/components/carsList.html' %}
    {% endwith %}
</section>

<!-- Comment section -->
<section class="container my-5">
    <!-- Display comments -->
    <div class="row justify-content-center">
        <p class="fs-3 fw-medium my-0">
            Comments ({{comments.count}}):
        </p>
        <div class="d-flex flex-column gap-2 mb-5 mx-2">
            {% for comment in comments %}
            <div class="card p-1 my-2 text-start shadow rounded-2 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %}text-bg-dark{% else %}text-bg-light{% endif %}" style="max-width:40rem;">
                <div class="card-body d-flex flex-column gap-1">
                    <a href="{% url 'accounts:profileView' comment.user.username %}" class="card-text fs-5 fw-medium text-danger">
                        {{comment.user.first_name}} {{comment.user.last_name}}
                    </a>
                    <p class="card-text fw-medium">
                        {{comment.comment}}
                    </p>
                    <p class="card-text small fw-medium text-danger">
                        {{comment.createdAt}}
                    </p>
                </div>
            </div>
            {% empty %}
            <p class="fs-5 fw-medium text-secondary">No comments yet..</p>
            {% endfor %}
        </div>
    </div>

    <!-- Add comment -->
    <div class="row justify-content-center">
        <div class="col col-lg-8 shadow rounded-2 py-3 px-4 bg-opacity-50 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %}bg-dark{% else %}bg-light{% endif %}">
            {% if user.is_authenticated %}
            <p class="fs-4 fw-medium">
                Add your comment:
            </p>
            <form action="{% url 'cars:addCommentView' car.id %}" class="form-floating d-flex flex-column gap-2 mt-3 px-2 needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="comment" class="fw-medium">Comment</label>
                    <textarea class="form-control focus-ring focus-ring-danger" placeholder="..."
                        name="comment" id="comment" style="height: 100px;" minlength="2" required></textarea>
                    <div class="invalid-feedback">
                        Comment cant be empty.
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <button class="w-50 btn btn-danger border-2" type="submit">
                        Add Comment
                    </button>
                </div>
            </form>
            {% else %}
            <p class="fs-4 fw-medium text-danger text-center">
                Login to add a comment!
            </p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}