{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{selected|capfirst}} Cars{% endblock %}

{% block content %}
<section class="container-md my-5 text-center">
    <h1 class="mt-4">
        {{selected|capfirst}} Cars
    </h1>
    <div class="half-border mb-3 mx-auto"></div>

    <!-- Search bar -->
    <form action="{% url 'cars:displayCarsView' selected %}{% querystring %}" method="get" class="my-3 needs-validation"
        novalidate>
        <div class="input-group justify-content-center">
            <input class="form-control focus-ring focus-ring-secondary rounded-start-2 " style="max-width: 300px;"
                type="search" placeholder="Search for a car by its model.." aria-label="Search" name="search"
                value="{{request.GET.search}}" minlength="2">
            <button class="btn rounded-end-2 btn-danger" type="submit">
                Search
            </button>
            <div class="invalid-feedback">
                Please enter more than 3 letters.
            </div>
        </div>
    </form>
    <!-- Add car, view colors and filtering buttons -->
    <div class="d-flex justify-content-center gap-2 mb-4">
        {% if user.is_staff and perms.cars.add_car %}
        <a href="{% url 'cars:addCarView' %}" class="btn btn-danger text-white align-content-center py-1">New</a>
        {% endif %}
        {% if user.is_staff and perms.cars.view_color %}
        <a href="{% url 'cars:allColorsView' %}" class="btn btn-danger text-white align-content-center py-1">All colors</a>
        {% endif %}
        <button class="btn btn-danger py-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFiltering"
        aria-controls="offcanvasFiltering">
        <i class="bi bi-filter h4"></i>
        </button>
    </div>
    
    <!-- Filtering offcanvas -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasFiltering" aria-labelledby="offcanvasFilteringLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasFilteringLabel">Filter By:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="{% url 'cars:displayCarsView' selected %}{% querystring %}" method="get" class="my-3">
                <div class="my-3">
                    <p class="fw-medium">Color:</p>
                    <div class="d-flex flex-column justify-content-center gap-2">
                        {% for color in colors %}
                        <input type="checkbox" class="btn-check" name="colors" id="check-{{color.id}}"
                            autocomplete="off" value="{{color.name}}" {% if color.name in filteredColors %}checked{% endif %}>
                        <label class="btn btn-outline-secondary border-2 py-0 rounded-pill mx-auto"
                            for="check-{{color.id}}">{{color.name}}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="my-3">
                    <label for="brand" class="form-label fw-medium">Brand:</label>
                    <select id="brand" name="brand" class="form-select" aria-label="Brand select">
                        <option value="">All</option>
                        {% for brand in brands %}
                        <option value="{{brand.name}}" {% if brand.name == request.GET.brand %}selected{% endif %}>{{brand.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="py-0 px-3 my-2 rounded-1 btn btn-danger">
                    Apply
                </button>
            </form>
        </div>
        <!-- End of filtering offcanvas -->
    </div>
    
    {% include 'cars/components/carsList.html' %}

    <!-- Pagination -->
    <div class="container justify-content-center my-5">
        <span>
            {% if cars.has_previous %}
            <a href="{% url 'cars:displayCarsView' selected %}{% querystring page=cars.previous_page_number %}" class="p-2">Previous</a>
            {% endif %}
            <span class="p-2 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-white {% else %} text-black {% endif %}">
                Page {{ cars.number }} of {{ cars.paginator.num_pages }}
            </span>
            {% if cars.has_next %}
            <a href="{% url 'cars:displayCarsView' selected %}{% querystring page=cars.next_page_number %}" class="p-2">Next</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}