{% extends "main/base.html" %}

{% block title %}Add New Color{% endblock %}

{% block content %}
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container mt-5" style="min-height: 90vh;">
    <h1>Add a New Color</h1>
    <form method="post"  action="{% url 'cars:new_color_view' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Color Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="hex_value" class="form-label">Hexadecimal Value</label>
            <input type="text" class="form-control" id="hex_value" name="hex_value" placeholder="#FFFFFF" required>
        </div>
        <button type="submit" class="btn btn-primary ">Add Color</button>
    </form>
</div>
{% endblock %}
