{% extends 'main/base.html' %}

{% load static %}

{% block title %}Update Car{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/cars.css' %}">{% endblock %}

{% block content %}
 <section class="container">
    <h1>Update Car</h1>
    <div class="row">
        <div class="col-8">
            <form action="{% url 'cars:update_car_view' car.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %}
                <input type="text" name="name" class="form-control" placeholder="Name" value="{{ car.name }}" required />
                <select name="brand" class="form-select" required>
                    <option value="">Select a brand</option>
                {% for brand in brands %}
                    <option value="{{ brand.id }}" {% if car.brand_id == brand.id %} selected {% endif %}>{{ brand.name }}</option>
                {% endfor %}
                </select>
                <h5>Colors:</h5>
                <div class="d-flex flex-wrap align-items-center gap-2">
                {% for color in colors %}
                    <div>
                        <input type="checkbox" name="colors" value="{{ color.id }}" id="color-{{ color.id }}" class="form-check-input" {% if color in car.colors.all %} checked {% endif %} />
                        <label for="color-{{ color.id }}" class="color-label" style="text-decoration-color: {{ color.hexadecimal }}">{{ color.name }}</label>
                    </div>
                {% endfor %}
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <h5>Photo:</h5>
                        <div class="update-image-thumb"><img src="{{ car.photo.url }}" alt="{{car.name}}"></div>
                    </div>
                    <input type="file" name="photo" class="form-control" accept="images/*" required>
                </div>
                <textarea name="specs" class="form-control" placeholder="Car specs" required>{{ car.specs }}</textarea>
                <input type="number" name="model" min="0" step="1" placeholder="Model year" class="form-control" value="{{ car.model }}" required>
                <input type="submit" class="btn btn-dark">
            </form>
        </div>
    </div>
 </section>
{% endblock %}