{% extends 'base.html' %}

{% block title %}Brands {% endblock %}

{% block main %}
<main>

    <div class="p-5">
        <h1 class="text-center">Brands</h1>
        <div class="container justify-content-center m-5 p-5 bg-light rounded shadow">

            <div class="container d-flex justify-content-center">
                <div class="row row-cols-1 row-cols-3 gap-4 d-flex justify-content-center">

                    {% for brand in brands %}
                    <div class="row pt-5 shadow rounded">

                        <h3>{{ brand.name }}</h3>
                        <a class="" href="{% url 'brands:brand_details_view' brand.id %}">
                            <img src="{{brand.logo.url}}" style="width:100%;">
                        </a>

                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}