{% extends 'main/base.html'%}
{% load static %} 

{% block title %}
   car brands
{% endblock %}

{% block content %}
<div class="all-brands">
   {% if messages %}
   <div class="messages">
       {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">
               {{ message }}
           </div>
       {% endfor %}
   </div>
{% endif %}

   <h1>All Brands</h1>
   <form method="get" action="{% url 'brands:all_brands_view' %}" class="search-form">
      <input type="text" name="q" value="{{ query }}" placeholder="Search by brand name..." class="search-brands">
      <button type="submit" class="search-button">
         <span class="material-symbols-outlined ">search</span>
     </button>
   </form>
   <div class="brand-list">
      {% for brand in page_obj %}
         <div class="brand-card">
            <img src="{{ brand.logo.url }}" alt="{{brand.name}} logo" class="brand-logo">
            <h3>{{ brand.name }}</h3>
            <p>Cars available: {{ brand.get_car_count }}</p>
            <button class="more-button">
               <a href="{% url 'brands:brand_details_view' brand_id=brand.id %}">More</a>
           </button>
           
         </div>
      {% empty %}
         <p>No brands found.</p>
      {% endfor %}
   </div>
   <div class="pagination-container">
      <span class="step-links">
         {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}" class="prev-page">Previous</a>
         {% endif %}
   
         <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
         </span>
   
         {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ query }}" class="next-page">Next</a>
         {% endif %}
      </span>
   </div>
</div>
{% endblock %}