{% extends "brand/base.html" %}
{% load static %}
{% block title %}Brand Page{% endblock %}
{% block content %}
</head>
<body>
    <header>
        <h1>{{ brand.name }}</h1>
    </header>

    <div>
        <img src="{{ brand.logo.url }}" alt="{{ brand.name }} Logo" style="width: 200px; height: auto;">
        <p><strong>About:</strong> {{ brand.about }}</p>
    </div>
    <a href="{% url 'brands:brand_update' brand.id %}" class="btn btn-primary">Update</a>
    <a href="{% url 'brands:brand_delete' brand.id %}" class="btn btn-primary">Delete</a>
    <hr>

    <section>
        <h2>Cars in {{ brand.name }}</h2>
        <ul>
            {% for car in cars %}
                <li>
                    <strong>{{ car.name }}</strong> - Model Year: {{ car.model_year }} - Price: ${{ car.price }}
                </li>
            {% empty %}
                <li>No cars available for this brand.</li>
            {% endfor %}
        </ul>
    </section>
    {% endblock %}
