{% extends "brand/base.html" %}
{% load static %}
{% block title %}Update Brand: {{ brand.name }}{% endblock %}
{% block content %}
    <header>
        <h1 class="mb-4">Update Brand: {{ brand.name }}</h1>
    </header>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" value="{{ brand.name }}">
        </div>

        <div class="mb-3">
            <label for="id_logo" class="form-label">Logo</label>
            <input type="file" name="logo" class="form-control">
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }} Logo" class="img-fluid" style="width: 150px; height: auto;">
        </div>

        <div class="mb-3">
            <label for="id_about" class="form-label">About</label>
            <textarea name="about" class="form-control">{{ brand.about }}</textarea>
        </div>

        <div class="mb-3">
            <label for="id_founded_at" class="form-label">Founded At</label>
            <input type="date" name="founded_at" class="form-control" value="{{ brand.founded_at|date:'Y-m-d' }}">
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        <a href="{% url 'brands:brand_detail' brand.id %}" class="btn btn-secondary w-100 mt-2">Cancel</a>
    </form>
{% endblock %}
