{% extends "main/base.html" %}

{% block content %}
    <main class="container">
        <h1 style="text-align: center; margin-bottom: 20px;">Car Brands</h1>
        
        <div class="brands-grid">
            {% for b in brand %}
            <div class="brand-card">
                {% if b.logo %}
                    <img src="{{ b.logo.url }}" alt="{{ b.name }}">
                {% else %}
                    <p>No logo available</p>
                {% endif %}
                
                <h3>
                    <a href="{% url 'brands:detail_brand_view' b.id %}" style="text-decoration: none;">{{ b.name }}</a>
                </h3>
                
                    
                
                <div class="brand-details">
                    <p><strong>Cars:</strong> {{ b.cars.count }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
