{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block main %}
<main>

   <div class="container-fluid pt-5 justify-content-center main-bg text-light align-items-center">
      <div class="container align-items-center pt-5 mt-5">
         <div class="container pt-5 py-5">
            <h1 class="display-1 text-center pt-5">Tuwaiq ShowRoom </h1>
            <h1 class="display-3 text-center pb-3">Luxury is Our Lifestyle, Cars, and Standards</h1>
            <form action="{% url 'main:search_view' %}" method="get" class="container-fluid d-flex justify-content-center mb-5 pb-5" role="search">

               <input class="form-control pe-5 me-2  mb-5 text-center" style="width:60rem" type="search" name="keyword" value="{{ request.GET.keyword }}" placeholder="Search" aria-label="Search">

            </form>
         </div>
      </div>
   </div>
   <!-- featured cars div -->
   <div class="p-5">
      <div class="container m-5 p-5 bg-light rounded shadow">

      <div class="container row">
         <div class="col">
            <h2 id="cars">Featured Cars</h2>
         </div>
         <div class="col text-end">
            <a href="{% url 'cars:all_cars_view'%}" class="text-decoration-none text-black h5">More -> </a>
         </div>
      </div>

      <div class="container d-flex justify-content-center">
         <div class="row row-cols-1 row-cols-4 gap-5 d-flex justify-content-center">
           {% include 'cars_cards.html' %}
         </div>

      </div>
   </div>
   </div>
   <!-- featured brands div -->
   <div class="p-5">
      <div class="container m-5 p-5 bg-light rounded shadow">

      <div class="container row mb-5">
         <div class="col">
            <h2 id="brands">Featured Brands</h2>
         </div>
         <div class="col text-end">
            <a href="{% url 'brands:all_brands_view'%}" class="text-decoration-none text-black h5">More -> </a>
         </div>
      </div>

      <div class="container d-flex justify-content-center">
         <div class="row row-cols-1 row-cols-4 gap-5 d-flex justify-content-center">

           {% include 'brands_cards.html' %}

         </div>

      </div>
   </div>
   </div>
</main>
{% endblock %}