{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Home - ShowRoom{% endblock %}
{% block content %}
<!-- Hero Section -->

<section class="relative w-full h-screen">
    <img src="{% static 'images/car-bg1.jpeg' %}" class="absolute inset-0 object-cover w-full h-full rounded-lg" alt="Car Background"/>
    <div class="relative z-10 flex items-center justify-center h-full">
        <div class="text-white mr-10 pb-6  pl-20 "> <!-- Added padding for better text visibility -->
            <h1 class="text-8xl font-bold mb-8 ">Welcome to ShowRoom</h1>
            <p class="text-4xl mb-8 ">This is a website for showing brands of cars, cars, and details about cars. Essentially, a Show Room for cars!</p>
            <a href="#" class="bg-blue-500 text-white font-semibold py-4 px-4 rounded-lg hover:bg-blue-900 transition duration-300  ">Discover More</a>
        </div>
    </div>
</section>



<!-- Latest Cars Section -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
    <h2 class="text-2xl font-bold mb-4">Latest Cars</h2>
    {% for car in cars|slice:":4" %}  <!-- Display only the first four cars -->
    <div class="bg-white rounded-lg shadow-md p-4">
        <img src="{{ car.photo.url }}" alt="{{ car.name }}" class="card-image w-full rounded-t-lg">
        <h3 class="font-semibold mt-2">{{ car.name }}</h3>
        <p>Brand: {{ car.brand_id.name }}</p>  <!-- Access brand name correctly -->
        <a href="{% url 'cars_app:car_detail_view' car.id %}" class="text-blue-600 hover:underline">View Details</a>
    </div>
    {% empty %}
    <p class="text-gray-500">No cars available.</p>  <!-- Message if no cars -->
    {% endfor %}
</div>

<!-- Button to View All Cars -->
<div class="mt-4">
    <a href="{% url 'cars_app:all_cars_view' %}" class="bg-blue-600 text-white py-2 px-4 rounded">View All Cars</a>
</div>

<!-- Latest Brands Section -->
<div class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Latest Brands</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {% for brand in brands %}
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="w-full h-48 object-cover">
            <div class="p-4">
                <h3 class="font-semibold text-lg mt-2">{{ brand.name }}</h3>
                <p class="text-gray-700">{{ brand.about|truncatewords:15 }}</p>
                <p class="text-sm text-gray-500">Cars Available: {{ brand.car_count }}</p>
                <a href="{% url 'brands_app:brand_detail_view' brand.id %}" class="text-blue-600 hover:underline mt-2 inline-block">View Details</a>
            </div>
        </div>
        {% empty %}
        <p class="col-span-full text-center text-gray-500">No brands available.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}