{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Home - ShowRoom{% endblock %}
{% block content %}
<!-- Hero Section -->

<section class="relative w-full h-screen">
    <img src="{% static 'images/car-bg1.jpeg' %}" class="absolute inset-0 object-cover w-full h-full rounded-lg" alt="Car Background"/>
    <div class="relative z-10 flex items-center justify-center h-full">
        <div class="text-white mr-10 pb-6  pl-20 "> <!-- Added padding for better text visibility -->
            <h1 class="text-8xl font-bold mb-8 ">Welcome to ShowRoom</h1>
            <p class="text-4xl mb-8 ">This is a website for showing brands of cars, cars, and details about cars. Essentially, a Show Room for cars!</p>
            <a href="#" class="bg-blue-500 text-white font-semibold py-4 px-4 rounded-lg hover:bg-blue-900 transition duration-300  ">Discover More</a>
        </div>
    </div>
</section>



<!-- Latest Cars Section -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
    <h2 class="text-2xl font-bold mb-4">Latest Cars</h2>
    {% for car in latest_cars %}
    <div class="bg-white rounded-lg shadow-md p-4">
        <img src="{{ car.photo.url }}" alt="{{ car.name }}" class="card-image w-full rounded-t-lg">
        <h3 class="font-semibold mt-2">{{ car.name }}</h3>
        <p>Brand: {{ car.brand.name }}</p>
        <a href="{% url 'car_detail' car.id %}" class="text-blue-600 hover:underline">View Details</a>
    </div>
    {% endfor %}
</div>

<!-- Latest Brands Section -->
<div class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Latest Brands</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {% for brand in latest_brands %}
        <div class="bg-white rounded-lg shadow-md p-4">
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="card-image w-full rounded-t-lg">
            <h3 class="font-semibold mt-2">{{ brand.name }}</h3>
            <p>{{ brand.about|truncatewords:15 }}</p>
            <p>Cars Available: {{ brand.car_set.count }}</p>
            <a href="{% url 'brand_detail' brand.id %}" class="text-blue-600 hover:underline">View Details</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}