{% extends 'main/base.html' %}

{% block title %}Sing in{% endblock %}
{% block style %}
{% endblock %}
{% block content %} 
{% load static %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 600px; border-radius: 8px;">
      <h2 class="text-center mb-4">Sign Up</h2>
      <form method="POST" action="{% url 'users:sign_up' %}?next={{request.GET.next}}">
        {% csrf_token %}
        
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="first_name">first name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
