
* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    
}
h1, h2 {
    font-family: "Bungee", sans-serif;
}

.navbar-brand h2 {
    font-family: "Odibee Sans", sans-serif;
}

main {
    min-height: 60vh;
}

body.dark  {
    background-color: rgb(40, 40, 40);
    color: rgb(220, 220, 220);
}

body.dark h1, body.dark h2, body.dark h3 {
    color:rgb(255, 179, 0);
} 


body.dark hr {
    background-color: rgb(115, 115, 115);
}

.odibee-sans-regular {
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


p {
    white-space:pre-line;
}

hr {
    opacity: 1;
    height: 1rem;
    border: none;
    background-color: rgb(230, 230, 230);
    transform: skewX(-20deg);
}

.top-logo {
    font-size: 2.2rem;
    color: rgb(255, 179, 0);
    transform: skewX(-20deg);
    transition: all 0.2s ease-in;
}

.top-logo:hover {
    transform: translate(5%, -5%) skewX(-20deg);
    text-shadow: -0.2rem 0.1rem 0px rgb(255, 9, 194);
}

.hero {
    transform: skewX(-20deg);
    transition: all 0.3s ease-in;
}



.hero  {

    background-color: rgb(255, 9, 194);
    padding-left: 4rem;
}

.hero:hover  {
    
}

.hero-row {
}

.vid-container video {
    height: 100%;
    max-height: 50vh;
    margin-left: 0.4rem;
}

input[type="search"]{
    border-radius: 0px !important;
    transform: skew(-10deg);
}


.top-nav span {
    padding:0.2rem;

}

.top-nav .active-icon {
    background-color: white;
    border-radius: 50%;
    color:black;
}



.top-nav a {
    padding: 0px !important;
}


.poster-thumb {
    height: 250px;
}


a {
    color:black;
    text-decoration: none;
    transition: all 0.1s ease-in;
}

a:hover {
    color:rgb(255, 179, 0);
    transition: all 0.15s ease-out;
}

.cat {
    background-color: rgb(120, 120, 120);
}

.Sport {
    background-color: rgb(227, 146, 6);
}

.Horror {
    background-color: rgb(162, 11, 11);
}

.Adventure {
    background-color: rgb(41, 99, 192);
}

.Fighting {
    background-color: rgb(143, 18, 76);
}

.cat:hover {
    background-color: black;
}


.publisher-img-top {
    height: 150px;
    object-fit:contain;
    object-position: center;
}

.publisher-logo {
    max-height: 300px;
    object-fit: contain;
}

.publisher-logo-small {
    height: 50px;
    width:50px;
    object-fit: contain;
}

.top-nav a.active {
    background-color: rgb(227, 146, 6) !important;
    border-radius: 10px;
    padding: 2px 18px !important;
}

.esrb-img {
    height: 30px;
}

.active-esrb, .esrb-img:hover {
    border: 2px solid rgb(227, 146, 6);
    box-shadow: 0px 4px 15px rgb(227, 146, 6);
}

/* Begin Star Rating */

.rate {
    display: flex;
    flex-direction: row-reverse;
    height: 46px;
    padding: 0 10px;
    justify-content: start;
    gap:2px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


/* End Star Rating */

@media only screen and (max-width:800px)  {
    .hero {
        transform: skewX(0deg);
        transition: all 0.3s ease-in;
    }
}