{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowRoom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;family=Sacramento&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Odibee+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQO6XEIBKn5SNGb19JtKGVUYUDyrIOFbAZf8I69j6Sk8ods0FgfNOcBas" crossorigin="anonymous">

</head>
<style>
    .alert-success {
    background-color: #d4edda;
    color: #155724;
}
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}
.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

</style>
<body class="d-flex flex-column justify-content-between min-vh-100">
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 pl-0 ml-0 text-white text-decoration-none">
              ShowRoom
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 pl-2">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/cars/all/" class="nav-link px-2 text-white">Cars</a></li>
                <li><a href="/brands/all/" class="nav-link px-2 text-white">Brands</a></li>

                {% if request.user.is_staff %}
                <li><a href="/cars/add/" class="nav-link px-2 text-white">Add Car</a></li>
                <li><a href="/brands/add/" class="nav-link px-2 text-white">Add Brand</a></li>
                <li><a href="/cars/color/add/" class="nav-link px-2 text-white">Add Color</a></li>
            {% endif %}
              </ul>
              
              <div class="ms-auto d-flex align-items-center">
                {% if request.user.is_authenticated %}
                  <div class="d-flex gap-2 align-items-center">
                    <h6 class="p-0 m-0 text-white">Welcome, {{ request.user.username }}</h6>
                    <a class="nav-link px-2 text-white" href="{% url 'accounts:log_out' %}?next={{request.path}}">Log out</a>
                  </div>
                {% else %}
                  <div class="dropdown bg-transparent">
                    <a class="btn nav-link dropdown-toggle p-2 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sign up/Sign in
                    </a>
                    <ul class="dropdown-menu p-3">
                      <li><a class="dropdown-item" href="{% url 'accounts:sign_up' %}?next={{request.path}}">Sign up</a></li>
                      <li><a class="dropdown-item" href="{% url 'accounts:sign_in' %}?next={{request.path}}">Sign in</a></li>
                    </ul>
                  </div>
                {% endif %}
              </div>
              
    
            
          </div>
        </div>
      </header>
      {% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>
{% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="container pt-5 mt-5">
        <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 mt-4 border-top">
          <p class="col-md-4 mb-0 text-body-secondary">© 2024 ShowRoom</p>
      
          
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
          </ul>
        </footer>
      </div>

     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
