{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to the Car Showroom</h2>
<h3>Latest Cars</h3>
<ul>
    {% for car in latest_cars %}
        <li>
            <a href="{% url 'cars:car_detail' car.id %}">{{ car.name }}</a> - {{ car.brand.name }}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'cars:all_cars' %}">View All Cars</a>

<h3>Latest Brands</h3>
<ul>
    {% for brand in latest_brands %}
        <li>{{ brand.name }}</li>
    {% endfor %}
</ul>
<a href="{% url 'brands:all_brands' %}">View All Brands</a>
{% endblock %}
