{% extends 'main/base.html' %}

{% load static %}

{% block title %}Home{%endblock %}

{% block content %}

<main>
    <section class="hero">
        <div class="hero-content">
            <h1>LUXURY PERFORMANCE CARS AT YOUR DESTINATION</h1>
            <p>Discover Luxury Cars in Our Showroom</p>
            {% if car %}
                <a href="{% url 'cars:car_details_view' car.id %}" class="learn-more-button">Learn More</a>
            {% else %}
                <p>No cars available. Add a car to view details!</p>
            {% endif %}
        </div>
        <div class="car-image-1">
            <img src="{% static 'images/p-1-2.png' %}" alt="Porsche Car">
        </div>
    </section>
    
    <section class="car-details">
        <div class="car-stats">
            <h2>Base Price</h2>
            <p>$120,100</p>
        </div>
        <div class="car-stats">
            <h2>394</h2>
            <p>545 HP</p>
        </div>
        <div class="car-stats">
            <h2>Engine</h2>
            <p>3.0-liter twin</p>
        </div>
    </section> 
    
    <div class="all-cars-link">
        <a href="{% url 'cars:all_cars_view' %}">
            <h5 class="more-link">More</h5>
            <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
</div>

<section class="plants-section">
    {% for plant in plant %}
    <div class="plant-card">
        <img src="{}" alt="{}">
        <a href="{}"><h3>{{ plant.name }}</h3></a>
        <p>{{ plant.about }}</p>
        <p class="category">{{ plant.category }}</p>
    </div>
    {%endfor%}

</section>

</main>

{% endblock %}