{% extends 'main/base.html'%}


{% block title %} profile for {{user.username}}  {% endblock %}

{% block content %}


<div class="row">

    <div class="col-2">

        <img src="{{user.profile.avatar.url}}" class="w-100 rounded-circle"  />
        <h5 class="text-white">@{{user.username}}</h5>
        {% if request.user == user %}
        <a href="{%url 'accounts:update_profile_view'%}" class="text-white"><i class="fa-solid fa-pen-to-square"></i></a>
        {% endif %}
    </div>


    <div class="col">

        <div class="d-flex flex-column gap-3">
            <p class="text-white">{{user.profile.about}}</p>


            <hr class="text-white"/>

            <h3 class="text-white">{{user.first_name}} Reviews</h3>

            {% for review in user.review_set.all %}
            <div class="d-flex flex-column p-3 bg-light  shadow">
                <div class="d-flex   justify-content-between align-items-center">
                    <h4 class="">{{review.user.first_name}} {{review.user.last_name}}</h4>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-star "></i>
                        <h5 class="m-0 p-0">{{review.rating}}</h5>
                    </div>
                </div>
                <p class="">{{review.comment}}</p>
                <p class="">{{review.created_at}}</p>
                <hr/>
                <a class="yellow-link" href="{%url 'cars:detail_car_view' review.car.id%}" ><h5 class="">On Car: {{review.car.name }}</h5></a>

            </div>
            {% endfor %}


            {% if request.user == user %}

            <h3 class="text-white">Bookmarks</h3>

            <div class="row row-cols-3 gap-4">

            {% for bookmark in request.user.bookmark_set.all %}

                <div class="col d-flex flex-column gap-2 bg-light align-items-center p-4 shadow">
                    <img src="{{bookmark.car.photos.first.image.url}}" class="w-100" />
                    <a href="{%url 'cars:detail_car_view' bookmark.car.id%}"><h3 class="yellow-link">{{bookmark.car.name }}</h3></a>
                </div>

            {% endfor %}

            </div>

            {% endif %}

        </div>
        
    </div>

</div>





{% endblock %}