{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Add New Car{% endblock %}
{% block content %}
<div class="container mx-auto my-8">
    <h2 class="text-2xl font-bold mb-4">Add New Car</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded">Add Car</button>
        <a href="{% url 'cars_app:all_cars_view' %}" class="bg-gray-300 text-gray-800 py-2 px-4 rounded ml-2">Cancel</a>
    </form>
</div>
{% endblock %}