{% extends 'base.html' %}
{% block title %}Car Details{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="row  p-5 shadow rounded">
            <div class="col img">
                <img class="img-fluid rounded shadow" src="{{car.photo.url}}" style="width: 100%;">
            </div>
            <div class="col p-3 g-2">
                <div class="d-flex justify-content-between mb-4">

                    <h1>{{car.name}}</h1>
                    {% if request.user.is_superuser %}
                    <div>
                        <a class="btn btn-primary" href="{% url 'cars:update_car_view' car.id %}"><span class="material-symbols-outlined">edit_square</span></a>
                        <a class="btn btn-danger" href="{% url 'cars:delete_car_view' car.id %}"><span class="material-symbols-outlined">delete</span></a>
                    </div>
                    {% endif %}
                </div>

                <h6>Specs: </h6>
                <p>{{car.specs}}</p>
                <div class="d-flex gap-2">
                    <h6> Available Colors: </h6>
                {% for color in car.colors.all %}

                    <div class="p-1 rounded shadow" style="background-color: {{color.hexadecimal}}"><h6 class="text-primary">{{color}}</h6></div>
                {% endfor %}
                </div>
                <h6>Model: {{car.model_year}}</h6>

            </div>
        </div>
    </div>
    <div class="container">
        <h2>Reviews ({{reviews.count}})</h2>
        <div class="container shadow p-5">
            {% for review in reviews %}
            <div class="p-2 shadow rounded">
            <h3>{{review.user.first_name}}{{review.user.last_name}}</h3>
            <p class="text-muted">{{review.comment}}</p>
            <h5>Rating: {{review.rating}}</h5>
            <p>{{review.reviewed_at}}</p>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <h3 class="mt-4">Add new Review</h3>
        <form class="d-flex flex-column gap-4" action="{% url 'cars:add_review_view' car.id %}" method="post">
            {% csrf_token %}
            <div>

                <label for="review" class="form-label">review</label>
                <textarea class="form-control" id="review" name="comment" required placeholder="review"></textarea>
            </div>

            <div class="d-flex gap-4 align-items-center">
                <p class="form-label m-0 p-0">Rating: </p>
                <div class="rate d-flex gap-2">

                    {% for rate, value in rates %}
                    <input type="radio" id="{{rate}}" name="rating" value="{{rate}}" required/>
                    <label for="{{rate}}" title="text">{{rate}}</label>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" name="Add">
        </form>
        {% else %}
        <div class="p-3 rounded bg-warning g-3 mt-3 d-flex flex-column gap-3">
            <p>Only Users can add comments</p>
            <a href="">Sign in to your account to add comments</a>
            <a href="">Or Create a New account now!</a>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}